.dash-buttons {
  background-image: linear-gradient(
    to bottom right,
    rgb(117, 103, 76),
    rgb(64, 56, 41)
  );
  background-color: var(--lightbrown);
  width: 150px;
  height: 50px;
  margin: 10px;
  box-shadow: 4px 4px 4px 4px var(--darkbrown);
  text-align: center;
  border-radius: 10px;
  display: inline-block;
  justify-content: center;
}

.dash-buttons h3 {
  margin-top: 10px;
  color: var(--beige);
  display: inline-block;
}

.search-bar {
  width: 50%;
  margin: 20px auto;
  border: 1px solid rgba(0, 0, 0, 0.175);
  border-radius: 10px;
}

.search-input {
  box-shadow: none !important;
  border-color: var(--beige);
}

.search-input:focus {
  border-color: var(--green);
}

.btn-info {
  background-color: var(--darkbrown);
  border-color: var(--darkbrown);
  color: var(--beige);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
  background-color: var(--lightbrown);
  border-color: var(--darkbrown);
  box-shadow: none !important;
  color: var(--beige);
}

.stats {
  display: flex;
  justify-content: center;
}

.stats h3 {
  padding: 10px;
}

.log-form input,
.reg-form input {
  margin: 5px auto;
}
